.container-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  .hero-title,
  .container-elements {
    flex: 1 1 100%;
    text-align: center;
    font-size: 3rem;
  }
  .hero-card {
    flex: 1 1 15rem;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 3px solid white;
    padding: 1rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  .hero-img {
    height: 70%;
    width: 70%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .hero-link {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  
  .hero-card.is-active {
    border: 3px solid steelblue;
    color: orange;
    box-shadow: none;
  }
  
  .hero-card.is-active .hero-img {
    border-radius: 50%;
  }
  